@font-face {
  font-family: "figtree"; /* Choose a descriptive name for your font */
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "figtree";
  font-style: normal;
  max-width: 1440;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  gap: 5em;
}
.card {
  background-color: hsl(0, 0%, 100%);
  width: 384px;
  height: 522px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  color: hsl(0, 0%, 7%);
  box-shadow: 10px 10px 1px rgb(0, 0, 0);
}
header {
  flex: 1 1 100%;
  padding: 24px 24px 0 24px;
}
header img {
  width: 100%;
  border-radius: 10px;
}
main {
  flex: 1 1 100%;
  padding: 24px 24px 0 24px;
}
main span {
  background-color: hsl(47, 88%, 63%);
  padding: 9px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
main p:nth-of-type(1) {
  margin-top: 24px;
  font-size: 14px;
}

main h1 {
  font-size: 24px;
  margin-top: 24px;
  width: 100%;
  margin-bottom: 28px;
}
main h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
main p:nth-of-type(2) {
  margin-top: 24px;
  font-size: 16px;
  color: hsl(0, 0%, 42%);
}
footer {
  flex: 1 1 100%;
  display: flex;
  gap: 12px;
  justify-content: start;
  align-items: center;
  margin: 24px 0 24px 24px;
}
footer img {
  width: 32px;
  height: 32px;
}
footer p {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 377px) {
  .card {    
    width: 327px;
    height: 501px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
